.table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  overflow-x: auto;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    font-weight: 500;
  }

  &__header {
    th {
      color: $subtitle-font-cl;
      padding-bottom: 14px;

      @media screen and (min-width: $tablet) {
        font-weight: 500;
      }
    }
  }

  &__cell {
    padding: 20px 0;
    border-top: 1px solid $table-b-cl;
    border-bottom: 1px solid $table-b-cl;
    color: $main-font-cl;
  }

  &__cell--status {
    display: flex;
    justify-content: center;
    width: 45px;
    border-radius: 4px;
    padding: 4px 0;
    border: 1px solid;

    @media screen and (min-width: $tablet) {
      width: 80px;
    }
  }

  &__cell--status-active {
    color: $green-font-cl;
    background-color: $green-bg-cl;
    border-color: $green-b-cl;
  }

  &__cell--status-inactive {
    color: $red-cl;
    background-color: $red-bg-cl;
    border-color: $red-cl;
  }
}
