.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 39px;

  &__img {
    // width: 195px;
    // height: 39px;
  }

  &__text {
    font-size: 10px;
    font-weight: 500;
    color: $grey-font-cl;
  }
}
