.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  &__text {
    font-weight: 500;
    color: $subtitle-font-cl;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 26px;

    font-size: 12px;
    font-weight: 500;
    color: #404b52;

    background-color: $secondary-bg-cl;
    border-radius: 4px;
    border: 1px solid $table-b-cl;
    transition: all $animation;

    &--active,
    &:hover,
    &:focus {
      color: $white-cl;
      background-color: $accent-cl;
    }
  }
}
