.nav {
  display: flex;
  align-items: center;
  gap: 10px;

  &__list {
    display: flex;
  }

  &__item {
    color: $secondary-font-cl;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $secondary-font-cl;

    &--active {
      background-color: $accent-cl;
    }

    &:hover,
    &:focus {
      background-color: $accent-cl;
    }
  }
}
