// fonts
$primary-font: 'Poppins', sans-serif;

// colors
$white-cl: #fff;
$black-cl: #000;
$accent-cl: #5932ea;
$green-cl: #16c098;
$red-cl: #df0404;

$main-font-cl: #292d32;
$secondary-font-cl: #9197b3;
$subtitle-font-cl: #b5b7c0;
$grey-font-cl: #838383;

$main-bg-cl: #f9fbff;
$green-bg-cl: rgba(21, 192, 152, 0.38);
$red-bg-cl: #ffc4c4;

$table-b-cl: #eeeeee;

// animation
$animation: 500ms ease;

// breakpoints
$desktop: 1280px;
$tablet: 768px;
$mobile: 480px;
