:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;

  /* colors */
  --accent-cl: #ff6b08;

  --main-font-cl: #000;
  --secondary_font-cl: #545454;
  --light-font-cl: #fff;
  --modal-font-cl: #8c8c8c;

  --header-bg-cl: rgba(0, 0, 0, 0.56);
  --secondary-bg-cl: #f7f7f7;
  --backdrop-bg-cl: rgba(0, 0, 0, 0.25);

  --form-red: #ff001b;

  /* other   */
  --indent: 16px;
  --items: 3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// breakpoints
$tablet: 768px;
$desktop: 1280px;
