.menu__overlay(data-menu)
    .menu__container
        button.menu__btn(type='button' data-menu-close)
            svg.menu__close-icon(width='20' height='20')
                use(href='./images/sprite.svg#cross')

        include ui/logo
        include ui/nav
        include ui/user-info     
