html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: $primary-font;
  background-color: $main-bg-cl;
}

.no-scroll {
  overflow: hidden;
}

.icon {
  fill: currentColor;
}
