doctype html
html(lang= 'en')
    head
        include includes/head
    body(data-page)
        .dashboard
            h1.visually-hidden Dashboard
            include includes/sidebar
            include includes/dashboard-content
            include includes/mobile-menu









