doctype html
html(lang= 'en')
    head
        include includes/head
    body
        .dashboard
            include includes/sidebar
            include includes/dashboard-content
                svg.logo__icon.icon(width='37' height='37')
                    use(xlink:href="/sprite.svg#logo")









