.customers {
  box-sizing: border-box;
  padding: 11px 20px 24px 20px;
  background-color: $white-cl;
  border-radius: 30px;
  box-shadow: 0px 10px 60px rgba(225, 236, 248, 0.5);

  @media screen and (min-width: $tablet) {
    padding: 22px 40px 48px 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 968px;
  }

  &__user-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 600;
    color: $black-cl;
  }

  &__status {
    color: $green-cl;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__search-icon {
    position: absolute;
    left: 8px;
    color: #7e7e7e;
  }

  &__search-input {
    box-sizing: border-box;
    width: 216px;
    height: 38px;
    padding-left: 40px;
    background-color: $main-bg-cl;
    border: none;
    outline: none;
    border-radius: 10px;

    &::placeholder {
      font-size: 12px;
      color: #b5b7c0;
    }
  }
}
