.sidebar {
  display: none;
  box-sizing: border-box;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    width: 306px;
    background-color: $white-cl;
    padding: 36px 28px 76px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__logo {
    margin-bottom: 64px;
  }

  &__nav {
    margin-bottom: auto;
  }
}
