table.table
    thead.table__header
        tr
            th Customer Name
            th Company
            th Phone Number
            th Email
            th Country
            th Status
    tbody


