div.table-container
    table
        thead
            tr
                th Customer Name
                th Company
                th Phone Number
                th Email
                th Country
                th Status
        tbody

// Контейнер для пагинации
div.pagination
    button.prev Prev
    ul.pagination-list
        // Элементы пагинации будут динамически добавлены с помощью JS
    button.next Next