a.logo.sidebar__logo(href="/")
    //- img.logo__img(src=require('../../../images/icons/logo.svg') alt='Company logo')
    svg.logo__icon.icon(width='37' height='37')
        use(xlink:href="/images/sprite.svg#logo")
    p.logo__text v.01
