nav.sidebar__nav
    ul.dashboard__menu-list
        li.dashboard__menu-item.dashboard__menu-item--active
            a.dashboard__menu-link(href="#") Dashboard
        li.dashboard__menu-item
            a.dashboard__menu-link(href="#") Product
        li.dashboard__menu-item
            a.dashboard__menu-link(href="#") Customers
        li.dashboard__menu-item
            a.dashboard__menu-link(href="#") Income
        li.dashboard__menu-item
            a.dashboard__menu-link(href="#") Promote
        li.dashboard__menu-item
            a.dashboard__menu-link(href="#") Help