doctype html
html(lang= 'en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dashboard
    body
        aside.sidebar
            a.logo(href="/")
                img.logo(src=require('../../images/logo.svg') alt='Company logo')
                p v.01
        main
            p Файл откомпилирован шаблонизатором Pug
